body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f6f9;
    font-family: Arial, sans-serif;
}
:root {
    --red: #d95980;
    --yellow: #f99b45;
    --green: #63aac0;
    --purple: #819ff9;
}
.container {
    padding: 2rem;
}
h1 {
    margin-bottom: 0.5rem;
    font-size: 2.5rem;
    
}
#status {
    color: #555;
    margin-bottom: 1rem;
}
.score-board {
    display: flex;
    justify-content: start;
    gap: 2rem;
    font-weight: bold;
}
.start-btn {
    padding: 12px 24px;
    border: none;
    border-radius: 10px;
    background: #222;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    margin: 1rem 0 2rem;
}
.start-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0,0,0,.2);
}

.btn {
    height: 180px;
    width: 180px;
    border-radius: 20px;
    border: 8px solid #222;
    margin: 1.8rem;
    cursor: pointer;
    transition: transform 0.2s ease,
                box-shadow 0.2s ease,
                background-color 0.2s ease;
}
.btn:hover {
    transform: scale(1.03);
}
.btn:active {
    transform: scale(0.95);
}
.btn-container {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
}
.yellow {
    background-color: var(--yellow);
}
.red {
    background-color: var(--red);
}
.purple {
    background-color: var(--purple);
}
.green {
    background-color: var(--green);
}

.flash {
    background-color: white;
    box-shadow: 0 0 30px white;
}
.userflash {
    /* background-color: green; */
    transform: scale(0.95);
    box-shadow: 0 0 25px lime;
}
.instructions {
    margin-top: 1.5rem;
    color: #666;
    font-size: 1.2rem;
}
@media (max-width: 600px) {

    .btn {
        width: 120px;
        height: 120px;
        margin: 0.5rem;
    }

    h1 {
        font-size: 2rem;
    }

    .score-board {
        flex-direction: column;
        gap: 0.5rem;
    }
}
